.label {
    color: black;
}
  
.custom-card {
    right: 5%;
    left: 5%;
    width: 90%;
    position: absolute;
    top: 10%;
}
  
.card-header-movie {
    background-color: #8E0076 !important;
}
  
.card-body-movie {
    background-color: #ff37de !important;
}
  
.custom-file-label {
    z-index: 0 !important;
}