html {
  overflow-x: hidden;
}

.item-deck-videogame {
  position: absolute;
  top: 40%;
}

.button-videogame {
  color: white !important;
  background-color: #7D83FF !important;
  position: absolute !important;
  margin: 20px !important;
  top: 0% !important;
  right: 0% !important;
}

.button-videogame-link {
  color: white !important;
}

.item-deck-videogame .card-deck .item-card-body {
  background-color: #7D83FF !important;
}

.search-videogame .container-search .tb .td .input-bar[type="text"]::placeholder {
  color: #c8cbff;
}

.search-videogame .container-search {
  background-color: #7D83FF;
  box-shadow: 0 10px 40px #7D83FF, 0 0 0 20px #ffffff;
}