html {
  overflow-x: hidden;
}

.item-deck-series {
  position: absolute;
  top: 40%;
}

.button-series {
  color: white !important;
  background-color: #0CD9D9 !important;
  position: absolute !important;
  margin: 20px !important;
  top: 0% !important;
  right: 0% !important;
}

.button-series-link {
  color: white !important;
}

.item-deck-series .card-deck .item-card-body {
  background-color: #0CD9D9 !important;
}

.search-series .container-search .tb .td .input-bar[type="text"]::placeholder {
  color: #a3ffff;
}

.search-series .container-search {
  background-color: #0CD9D9;
  box-shadow: 0 10px 40px #0CD9D9, 0 0 0 20px #ffffff;
}