html {
  overflow-x: hidden;
}

.item-deck-movie {
  position: absolute;
  top: 40%;
}

.button-movie {
  color: white !important;
  background-color: #8E0076 !important;
  position: absolute !important;
  margin: 20px !important;
  top: 0% !important;
  right: 0% !important;
}

.button-movie-link {
  color: white !important;
}

.item-deck-movie .card-deck .item-card-body {
  background-color: #8E0076 !important;
}

.search-movie .container-search .tb .td .input-bar[type="text"]::placeholder {
  color: #ff37de;
}

.search-movie .container-search {
  background-color: #8E0076;
  box-shadow: 0 10px 40px #8E0076, 0 0 0 20px #ffffff;
}