.label {
    color: black;
}
  
.custom-card {
    right: 5%;
    left: 5%;
    width: 90%;
    position: absolute;
    top: 10%;
}
  
.card-header-manga {
    background-color: #DD2B4F !important;
}
  
.card-body-manga {
    background-color: #ff7b95 !important;
}
  
.custom-file-label {
    z-index: 0 !important;
}