@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}