html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  background-color: #D2A5FF;
  height: 100%;
  width: 100%;
  text-align: center;
}