html {
  overflow-x: hidden;
}

.item-deck-manga {
  position: absolute;
  top: 40%;
}

.button-manga {
  color: white !important;
  background-color: #DD2B4F !important;
  position: absolute !important;
  margin: 20px !important;
  top: 0% !important;
  right: 0% !important;
}

.button-manga-link {
  color: white !important;
}

.item-deck-manga .card-deck .item-card-body {
  background-color: #DD2B4F !important;
}

.search-manga .container-search .tb .td .input-bar[type="text"]::placeholder {
  color: #ff7b95;
}

.search-manga .container-search {
  background-color: #DD2B4F;
  box-shadow: 0 10px 40px #DD2B4F, 0 0 0 20px #ffffff;
}